# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENTORNOS
# =========================
.env
venv/
env/

# =========================
# ARCHIVOS EXCEL (CRÍTICO)
# =========================
*.xlsx
*.xls
*.csv

# =========================
# ARCHIVOS GENERADOS
# =========================
inventario_limpio.xlsx
~$*.xlsx

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/